interactions:
- request:
    body: "--29da7e91e2fde062cbf388e5304a8922\r\nContent-Disposition: form-data; name=\"document\";
      filename=\"tmpsak4xv58\"\r\n\r\nThis is a test file.\r\n--29da7e91e2fde062cbf388e5304a8922--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=29da7e91e2fde062cbf388e5304a8922
    method: POST
    uri: https://api.telegram.org/1234567890abcdef1234567890abcdef/sendDocument?chat_id=123456&caption=This+is+my+favourite+license
  response:
    body:
      string: '{"ok":true,"result":{"message_id":2131,"from":{"id":1051994739,"is_bot":true,"first_name":"Hogwarts
        Bot","username":"hogwarts_api_bot"},"chat":{"id":123456,"first_name":"Maurizio","last_name":"Branca","username":"zmoog","type":"private"},"date":1713683312,"document":{"file_name":"tmpsak4xv58","file_id":"BQACAgQAAxkDAAIIU2Yku3DBp1TLIi_Cj_lc-IbbbAOgAALPEgACnhkpUVjcD9bZI3aDNAQ","file_unique_id":"AgADzxIAAp4ZKVE","file_size":20},"caption":"This
        is my favourite license"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
