interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.telegram.org/1234567890abcdef1234567890abcdef/sendMessage?chat_id=161035319&text=%27Hello%2C+world%21%27
  response:
    body:
      string: '{"ok":true,"result":{"message_id":665,"from":{"id":123,"is_bot":true,"first_name":"Hogwarts
        Bot","username":"hogwarts_api_bot"},"chat":{"id":456,"first_name":"Maurizio","last_name":"Branca","username":"zmoog","type":"private"},"date":1675921959,"text":"''Hello,
        world!''"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
